<div class="row clearfix mt-5 pt-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                  <h2>
                      <strong>Meetings</strong>
                  </h2>
              </div>
            <div class="body">
                  <div class="table-responsive">
                      <table class="table table-bordered js-basic-example table-striped table-hover save-stage dataTable"style="width:100%;">
                          <thead>
                              <tr>
                                  <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Room</th>
                                    <th>Date</th>
                                    <th>Time start</th>
                                    <th>Time end</th>
                                    <th class="no-sorting text-right" style="width:85px;">Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <% @meetings.each do |meeting| %>
                                <tr data-open-url="<%=  room_meetings_path(meeting) %>">
                                    <td class="room_uppercase px-0" ><%= meeting.name %></td>
                                    <td class="room_uppercase px-0"><%= meeting.description %></td>
                                    <td class="room_uppercase px-0"><%= meeting.room_id %></td>
                                    <td class="room_uppercase px-0"><%= meeting.meeting_dates.pluck(:date).map{|d| d.strftime('%d %B %Y')}.join(', ') %></td>
                                    <td class="room_uppercase px-0"><%= meeting.time_start.strftime('%T')%></td>
                                    <td class="room_uppercase px-0"><%= meeting.time_end.strftime('%T') %></td>
                                      <% if current_user %>
                                          <td>
                                          <div class="text-right">
                                          <%= link_to '<i class="material-icons">open_in_new</i> '.html_safe, room_meeting_path(@room, meeting), data: {turbolinks: false}, class: 'btn tblActnBtn' %>
                                          <%= link_to '<i class="material-icons">edit</i> '.html_safe, edit_room_meeting_path(@room, meeting), data: {turbolinks: false}, class: 'btn tblActnBtn' %>
                                          <%= link_to '<i class="material-icons">delete</i> '.html_safe, room_meeting_path(@room, meeting), data: {turbolinks: false, confirm: 'Are you sure to delete this meeting  ?', method: :delete }, class: 'btn tblActnBtn' %></td>
                                          </div>
                                      <% end %>
                                    </tr>
                                  <% end %>
                            </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
<script>

  $(function () {
    $('.js-basic-example').DataTable({
    responsive: true
  } );
  })

</script>

