<div class="loginmain">
  <div class="loginCard">
      <div class="login-btn splits">
        <p>Already an user?</p>
          <%= link_to 'Login', new_user_session_path, role: 'button' %>
      </div>
      <div class="rgstr-btn splits">
        <p>Don't have an account?</p>
         <%= link_to 'Register', new_user_registration_path, class: 'active', role: 'button' %>
  </div>
  
  <div class="wrapper move">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "registeration", class: "mt-5", tabindex: "502"}) do |f| %>
      <h3>Register</h3>
        <div class="name">
          <%= f.text_field :login, autofocus: true, placeholder: "Username" %>
          <label>Username</label>
        </div>
        <div class="mail">
          <%= f.email_field :email, placeholder: "Email address" %>
          <label>Mail</label>
        </div>
        <div class="uid">
          <%= f.password_field :password, autocomplete: "off" ,placeholder: "Password"%>
          <label>Password</label>
        </div>
        <div class="passwd">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>
          <label>Confirm Password</label>
        </div>
          <% if ENV['RECAPTCHA_PUBLIC_KEY']  %>
            <div class="form-group" >
              <%= recaptcha_tags :public_key => ENV['RECAPTCHA_PUBLIC_KEY'] %>
            </div>
          <% end %>
        <div class="submit">
          <button class="dark" type="submit">Register</button>
        </div>
    <% end %>
   </div>
 </div>
</div>
