<div id="<%= wid_id %>">
  <div>
    <h2><strong><%= wid_title %></strong> </h2>
    <div class="widget-toolbar" role="menu">
      <% if defined?(link_content) %>
          <%= link_content %>
      <% end %>
    </div>
  </div>
  <div>
    <div class="widget-body no-padding">
      <div class="row">
        <div class="col-12" id="<%= wid_id %>_container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
