<div class="loginmain">
  <div class="loginCard">
    <div class="login-btn splits">
      <p>Already a user?</p>
      <button class="active">Login</button>
    </div>
    <div class="rgstr-btn splits">
      <p>Don't have an account?</p>
      <button><%= link_to "Register", new_user_registration_path,class: "text-white" %></button>
    </div>
    <div class="wrapper">
      <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {id: 'login', class: "", tabindex: '500' } do |f| %>
        <h3>Login</h3>
        <div class="mail">
          <%= f.text_field :login, autofocus: true %>
          <label><%= t :login %></label>
        </div>
        <div class="passwd">
          <%= f.password_field :password, autocomplete: "off" %>
          <label>Password</label>
        </div>
        <div class="text-right p-t-8 p-b-31">
          <a href="<%= new_password_path(resource_name) %>">Forgot password?</a>
        </div>

        <% if ENV[' RECAPTCHA_PUBLIC_KEY'].present? %>
          <div>
            <%= recaptcha_tags :public_key => ENV['RECAPTCHA_PUBLIC_KEY'] %>
          </div>
        <% end %>

        <% if devise_mapping.rememberable? -%>
          <div class="text-right p-t-8 p-b-31">
            <label class="checkbox">
              <%= f.check_box :remember_me, class: "filled-in" %>
              <span>Stay signed in</span>
            </label>
          </div>
        <% end %>
        <div class="mt-5">
        <div class="submit">
          <button class="dark" type="submit">Login</button>
        </div>
        </div>
        <div class="flex-c p-b-112">
          <% if can_connect_with?(:facebook) %>
            <%= link_to '/users/auth/facebook', class: "login100-social-item bg-fb" do %>
              <i class="fab fa-facebook-f"></i>
            <% end %>
          <% end %>
          <% if can_connect_with?(:twitter) %>
            <%= link_to '/users/auth/twitter', class: "login100-social-item bg-twitter" do %>
                <i class="fab fa-twitter"></i>
            <% end %>
          <% end %>
          <% if can_connect_with?(:office365) %>
              <%= link_to '/users/auth/office365', class: "login100-social-item bg-google" do %>
                  <i class="fab fa-windows"></i>
              <% end %>
          <% end %>
          <% if can_connect_with?(:google_oauth2) %>
              <%= link_to '/users/auth/google_oauth2', class: "login100-social-item bg-google" do %>
                  <i class="fab fa-google"></i>
              <% end %>
          <% end %>
          <% if can_connect_with?(:github) %>
              <%= link_to '/users/auth/github', class: "login100-social-item bg-github" do %>
                  <i class="fab fa-github"></i>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
