
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <!-- <li class="sidebar-user-panel active">
                <div class="user-panel">
                    <div class=" image">
                      <%= image_tag("img_avatar.png", class: 'img-circle user-img-circle', alt: "Edit Entry") %>
                    </div>
                </div>
                <div class="profile-usertitle">
                    <div class="sidebar-userpic-name"> Emily Smith </div>
                    <div class="profile-usertitle-job ">Manager </div>
                </div>
            </li> -->
            <% Room.all.each do |room| %>
              <li>
                <a href="<%= room_path(room) %>">
                  <i class="fa fa-lg fa-fw fa-fa-fw <%= room.icon || 'fa-square' %>"></i>
                  <span><%= room.name %></span>
                </a>
              </li>
            <% end %>

            <% if current_user.present? %>
              <li>
                  <a href="#" onClick="return false;" class="menu-toggle">
                      <i class="fa fa-lg fa-fw fa-gears"></i>
                      <span>Administration</span>
                  </a>
                  <ul class="ml-menu">
                      <!-- <li>
                        <%#= link_to "Users", users_path %>
                      </li> -->
                      <li>
                        <%= link_to "Rooms", rooms_path %>
                      </li>
                      <li>
                        <%= link_to "Settings", settings_path %>
                      </li>
                  </ul>
              </li>
            <% end %>
        </ul>
    </div>
    <!-- #Menu -->
</aside>
<!-- #END# Left Sidebar -->
