<!DOCTYPE html>
<html lang="fr" class="<%= Setting.theme_style %>" id="<%= yield :html_id %>">
<head>
  <meta charset="utf-8">

  <title>Room Meeting</title>
  <%= csrf_meta_tags %>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'screen' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  <!-- FAVICONS -->
  <%= favicon_link_tag '/favicon.ico' %>
  <%= favicon_link_tag '/favicon.ico', rel: 'icon' %>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <%= yield :head %>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body class="light menu_dark theme-black logo-black">

  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->

  <!-- Top navbar : Navigation area -->
  <%= render partial: 'layouts/header' unless @lock_screen %>
  <!-- END Top navbar : Navigation area -->

  <!-- Left panel : Navigation area -->
  <div><%= render partial: 'layouts/left_panel' if !@simulate_no_user %></div>
  <!-- END Left panel : Navigation area -->

  <!-- MAIN PANEL -->
  <section class="content">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
  <!-- END MAIN PANEL -->

  <%#= render partial: 'layouts/tiles' if  !@simulate_no_user %>

</body>

<%#= yield(:scripts).present? ? yield(:scripts) : render(partial: 'layouts/scripts') %>

</html>
